
.nav_bar{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #E0DADA;
}

.material-symbols-outlined{
  font-size: 2em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

}

.tt1{
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
}



.seccionWelcome{
  width: 100%;
  height: 600px;
  background-image: url(../src/assets/img/monsterabg_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: left;
  text-align: left;
  padding-left: 200px;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  padding-top: 50px;
}

.contenidoWelcome {
  width: 40%;
  height: auto;
}
.tt_welcome{
  
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
}

.botonWelcome {
  margin-top: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.logo2{
  padding-top: 50px;
  width: 180px;
  height: auto;
}
.ttCategorias{
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  padding-top: 20px;
}



.contCard{
  width: 350px;
  height: 550px;
}

.ttCart {
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.ttDetailCont{
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  align-items: center;
}

.ttContador{
  font-size: 30px;
}

.contProductos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.orderForm{
  display: flex;
  align-items: center;

}

.ttEnvioOrdenes{
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;

}

.ttNroOrdenes{
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 5px;
  padding-left: 15px;
}

.ttTotalCompra{
  padding-top: 10px;
  font-size: 35px;
  font-family: 'Shadows Into Light', cursive;
}

.ttFooter{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}

.contProductos2 {
  display: flex;
  flex-wrap: wrap;
}

.contCart{
  width: auto;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}

.ttNombreCart{
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}
.ttPrecioCart{
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.ttCantCart{
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}

.contBBorrar{
  padding-left: 30px;
}

